@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

.dino-wrap {
  width: 100%;
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.dino:nth-child(2){
  display: none;
}

.dino:nth-child(4){
  display: none;
}

@media only screen and (min-width: 25em) {

  .dino{
    width: 100%;
  }

  .dino:nth-child(2){
    display: inline-block;
    float: left;
  }

  .dino:nth-child(3){
    display: inline-block;
    float: left;
  }

  .dino:nth-child(4){
    display: inline-block;
    float: right;
  }

  .dino:nth-child(5){
    display: inline-block;
    float: right;
  }
}

@media only screen and (min-width: 38em) {

  .dino{
    width: 100%;
  }

  .dino-wrap{
    display: flex
  }

  .dino:nth-child(2){
    display: block;
  }

  .dino:nth-child(4){
    display: block;
  }

}
  .dino:nth-child(1){
    display: block;
  }

  .dino:nth-child(3){
    display: block;
  }

}

@media only screen and (min-width: 60em) {

  .dino{
    width: 100%;
  }

  .dino-wrap{
    display: flex
  }

  .dino:nth-child(2){
    display: block;
  }

  .dino:nth-child(4){
    display: block;
  }

}
